@model  EmployeeUtil.Models.CreateExpenseModel
@{
    ViewData["Title"] = "Add Expenses";
    Layout = "~/Views/shared/_Layout.cshtml";
}
<div>
    <div class="col-sm-2">
        <ul class="nav nav-pills nav-stacked">
            <li><a href="/PretravelClaim/Index">PreTravel Claim</a></li>
            <li class="active"><a href="/ExpenseCreation/Index">Expense Submission</a></li>
            <li><a href="#section3">Apply for leave</a></li>
        </ul>
    </div>
    <div class="col-sm-10">
        <h2 class="aligncenter">Submitted Expense Requests for business travel</h2>
        <br />
        <table class="table">
            <thead>
                <tr>
                    <th>Destination</th>
                    <th>Category</th>
                    <th>SubCategory</th>
                    <th>Amount</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var expense in Model.Expenses)
                {
                    <tr>
                        <td>@expense.Claim.Destination</td>
                        <td>@expense.ExpenseCategory.CategoryName</td>
                        <td>@expense.ExpenseSubCategory.SubCategoryName</td>
                        <td>@expense.ExpenseAmount</td>
                        <td>@expense.ExpenseStartDate</td>
                        <td>@expense.ExpenseEndDate</td>
                        <td>In Progress</td>
                        <td></td>
                    </tr>
                }
            </tbody>
        </table>
        <button type="button" class="btn btn-primary  col-sm-offset-5" data-toggle="modal" data-target="#myModal">
            Make a new Request
        </button>
        <form class="form-horizontal col-sm-offset-2" enctype="multipart/form-data" method="post">
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Make new expense claim</h5>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="approvedform">Approved Pretravel Claims</label>
                                <div class="col-sm-6">
                                    <select id="ApprovedClaimId" name="ApprovedClaimId" class="form-control">
                                        @foreach (var claim in Model.ApprovedTravelClaimList)
                                        {
                                            <option value="@claim.ClaimId">@claim.Destination @claim.EnterTime to @claim.EndDate</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="category">Select a category</label>
                                <div class="col-sm-6">
                                    <select id="CategoryId" name="CategoryId" class="form-control">
                                        <option value="default">select a category</option>
                                        @foreach (var category in Model.CategoryList)
                                        {
                                            <option value="@category.CategoryId">@category.CategoryName</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="subcategory">Select a sub category</label>
                                <div class="col-sm-6">
                                    <select id="SubCategoryId" name="SubCategoryId" class="form-control">
                                        @foreach (var subcategory in Model.SubCategorList)
                                        {
                                            <option value="@subcategory.SubCategoryId">@subcategory.SubCategoryName</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="Amount">Cost Incurred</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="Amount"  name="Amount" placeholder="Amount" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="currency">Currency</label>
                                <div class="col-sm-6">
                                    <select id="CurrencyId" name="CurrencyId" class="form-control">
                                        <option value="0">select the currency</option>
                                        <option value="1">Singapore Dollar</option>
                                        <option value="2">US Dollar</option>
                                        <option value="3">Indian Rupee</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="days">Start Date</label>
                                <div class="col-sm-6">
                                    <input type="date" class="form-control" id="Startdate" placeholder="dd/mm/yyyy" name="StartDate" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="days">End Date</label>
                                <div class="col-sm-6">
                                    <input type="date" class="form-control" id="EndDate" placeholder="dd/mm/yyyy" name="EndDate" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="days">Attachment</label>
                                <div class="col-sm-6">
                                    <input type="file" id="Attachment" name="Attachment" placeholder="choose file" />
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Add expense</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

